h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.font-pt-sans-700 {
    font-family: 'PT Sans';
    font-weight: 700;
}

.font-pt-sans-400 {
    font-family: 'PT Sans';
    font-weight: 400;
}

/* */

body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 1920px;
    height: 4171px;
    border: 1px solid red;
}

header {
    position: absolute;
    width: 1296px;
    height: 110px;
    left: 312px;
    top: 0px;
    display: flex;
    align-items: center;
}

header .logo, header .menu, header .search, header .RU-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu {
    width: 613px;
    height: 22px;
    margin-right: 115px;
}

.menu p {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
}

header .logo{
    width: 108px;
    height: 30px;
    margin-right: 113px;
}

header .search {
    width: 194px;
    height: 24px;
    margin-right: 113px;
}

.search input {
    border: none;
    border-bottom: 1px solid #333333;
    opacity: 0.2;
}

header .RU-block {
    width: 40px;
    height: 22px;
}

.RU-block p {
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
}

/* Начало редактирования first-screen */

.first-screen {
    width: 1920px;
    height: 750px;
    position: absolute;
    left: 0px;
    top: 110px;
    background-image: url(img-for-first-screen/main-photo.png);
    background-size: cover;
    color: #FFFFFF;
}

.first-screen .text-container {
    position: absolute;
    left: 312px;
    top: 180px;
    width: 526px;
    height: 336px;
    border: 1px solid orange;
}

.text-container h1 {
    width: 526px;
    height: 140px;
    font-size: 50px;
    line-height: 140%;
}

.text-container p {
    width: 322px;
    height: 66px;
    font-size: 16px;
    line-height: 140%;
}

.text-container .button-o-kompanii {
    width: 159px;
    height: 30px;
    display: flex;
}