h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.font-pt-sans-700 {
    font-family: 'PT Sans';
    font-weight: 700;
}

.font-pt-sans-400 {
    font-family: 'PT Sans';
    font-weight: 400;
}

/* */

body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 1920px;
    height: 4171px;
}

header {
    position: absolute;
    width: 1296px;
    height: 110px;
    left: 312px;
    top: 0px;
    display: flex;
    align-items: center;
}

header .logo, header .menu, header .search, header .RU-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu {
    width: 613px;
    height: 22px;
    margin-right: 115px;
}

.menu p {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
}

header .logo{
    width: 108px;
    height: 30px;
    margin-right: 113px;
}

header .search {
    width: 194px;
    height: 24px;
    margin-right: 113px;
}

.search input {
    width: 150px;
    border: none;
    border-bottom: 1px solid #333333;
    opacity: 0.2;
}

.search img {
    margin-right: 21px;
}

header .RU-block {
    width: 40px;
    height: 22px;
}

.RU-block p {
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
}

/* Начало редактирования first-screen */

.first-screen {
    width: 1920px;
    height: 750px;
    position: absolute;
    left: 0px;
    top: 110px;
    background-image: url(img-for-first-screen/main-photo.png);
    background-size: cover;
    color: #FFFFFF;
}

.first-screen .text-container {
    position: absolute;
    left: 312px;
    top: 180px;
    width: 526px;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-container h1 {
    width: 526px;
    height: 140px;
    font-size: 50px;
    line-height: 140%;
}

.text-container p {
    width: 322px;
    height: 66px;
    font-size: 16px;
    line-height: 140%;
}

.text-container .button-o-kompanii {
    width: 170px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-o-kompanii p {
    width: 130px;
    height: 22px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.blue-card {
    width: 306px;
    height: 250px;
    background: #5DB7DE;
    border-radius: 20px;
}

.blue-card p {
    width: 236px;
    height: 18px;
    margin: 30px 35px 118px 35px;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.blue-card h6 {
    width: 236px;
    height: 54px;
    margin-bottom: 35px;
    margin-left: 35px;
    font-size: 19px;
    line-height: 140%;
}

.card1 {
    position: absolute;
    left: 972px;
    top: 113px;
}

.card2 {
    position: absolute;
    left: 1302px;
    top: 113px;
}

.card2 h6, .card3 h6, .card4 h6 {
    width: 100px;
}

.card3 {
    position: absolute;
    left: 972px;
    top: 387px;
}

.card4 {
    position: absolute;
    left: 1302px;
    top: 387px;
}

.card4:hover {
    background-color: orangered;
    cursor: pointer;
    border: 3px solid #333333;
}

/* Начало редактирования services*/

.services {
    position: absolute;
    width: 1296px;
    height: 717px;
    left: 312px;
    top: 1010px;
    display: flex;
    justify-content: space-between;
}

.box-for-servise-text {
    width: 306px;
    height: 333px;
}

.service-heading-blok {
    width: 306px;
    height: 116px;
}

.service-heading-blok h3 {
    font-size: 40px;
    line-height: 140%;
    color: #333333;
}

.service-text-blok {
    width: 306px;
    height: 217px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-text-blok .text-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-element p {
    font-size: 16px;
    line-height: 140%;
    color: #3D348B;
    /*text-decoration: underline;
    text-decoration-style: dashed;*/
}

.second-element img {
    margin-left: 31px;
}

.third-element img {
    margin-left: 110px;
}

.box-for-darkblue-cards-container {
    width: 856px;
    height: 717px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}

.dark-blue-card {
    width: 416px;
    height: 223px;
    background: #3D348B;
    border-radius: 20px;
    color: #FFFFFF;
}

.dark-blue-card h6 {
    width: auto;
    height: auto;
}


/* Начало редактирования company*/

.company {
    position: absolute;
    width: 1920px;
    height: 876px;
    left: 0px;
    top: 1877px;
    background: rgba(60, 51, 138, 0.05);
}

.company-heading {
    position: absolute;
    width: auto;
    height: 56px;
    left: 312px;
    top: 100px;
    font-size: 40px;
    line-height: 140%;
    color: #333333;
    display: flex;
}

.company img[alt="korabli"] {
    position: absolute;
    top: 216px;
    left: 1082px;
}

.company img[alt="Vector"] {
    position: absolute;
    top: 357px;
    left: 1311px;
}

.company-blue-card {
    width: 526px;
    height: 170px;
    position: absolute;
    top: 596px;
    left: 1082px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.company-blue-card p,
.company-blue-card h6 {
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    color: #FFFFFF;
}

.company-blue-card p {
    margin: 30px 35px 0 35px;
}

.company-blue-card h6 {
    margin: 0 35px 30px 35px;
}

.company-content-block {
    width: 636px;
    height: 550px;
    position: absolute;
    top: 216px;
    left: 312px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.company-content-block p,
.company-content-block li {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000;
}

.company-content-block ul {
    padding-left: 17px;
    margin: 0;
}

.company-content-block li {
    padding-left: 16px;
    margin-top: 15px;
}

/* Начало редактирования блока news*/

.news {
    position: absolute;
    width: 1296px;
    height: 514px;
    left: 312px;
    top: 2903px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-heading {
    width: 1296px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-heading h3 {
    font-size: 40px;
    line-height: 140%;
    color: #333333;
}

.news-button .button-o-kompanii {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3D348B;
}

.button-o-kompanii p {
    margin-right: 15px;
}

img[alt="strelka-button-company"] {
    position: absolute;
    right: 12px;
}

.news-blocks-container {
    width: auto;
    height: 398px;
    display: flex;
    justify-content: space-between;
}

.news-blocks-container .news-block {
    width: 306px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.news-block-img {
    margin-bottom: 10px;
}

.news-block-date {
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
}

.news-block-heading {
    font-size: 19px;
    line-height: 140%;
    color: #333333;
}

.news-block-text {
    font-size: 14px;
    line-height: 140%;
    color: #333333;
}

/* Начало редактирования footer*/

footer {
    position: absolute;
    bottom: 0px;
    width: 1920px;
    height: 604px;
}

.hi-footer {
    width: auto;
    height: 120px;
    background-color: rgba(61, 52, 139, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.low-footer {
    width: auto;
    height: 484px;
    background-color: rgba(61, 52, 139);
    display: flex;
    justify-content: center;
}

.hi-footer-container {
    width: 1296px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hi-footer-container p {
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.hi-footer-container .address {
    width: 304px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hi-footer-container .phone-and-email {
    width: 379px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 44px;
}

.low-footer-container {
    width: 1296px;
    height: 276px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.low-footer-container .info-block {
    color: #FFFFFF;
    width: 306px;
    height: auto;
}

.info-block h6 {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.info-block ul,
.info-block li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.info-block li {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 15px;
}

.copyright-visma {
    position: absolute;
    left: 845px;
    bottom: 30px;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}